{% extends "base.html" %}

{% block content %}

<div class="container mt-5 mb-5">
    <div class="row">
        <div class="col-md-8 col-sm-8 offset-sm-2 offset-md-2 mt-4 mb-4">
            <div class="row">
                <div class="col-md-8 offset-md-2">
                    <h2 class="text-center mb-4">Movie Rental App</h2>
                    {% if session["logged_user"] %}
                    <h4 class="text-center">Welcome @{{ session["logged_user"] }}</h4>
                    {% endif %}
                    <br>
                    <div class="text-center">
                        <img src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/hbz-classic-movies-00-index-new-1591823486.jpg"
                            class="img-fluid rounded" width=400 alt="Movies">
                    </div>
                    <p class="text-center mt-2 mb-0">
                        <a href="{{ url_for('rental.movie_details' ) }}"><b>Movie Catalog</b></a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}