{% extends "base.html" %}

{% block content %}
<div class="container mt-5 mb-5">
    <div class="row">
        <div class="col-md-8 col-sm-8 offset-sm-2 offset-md-2 mt-4 mb-4">
            <div class="row">
                <div class="col-md-8 offset-md-2">
                    <h3 class="text-center mb-4">Filter Movies by Movie Name</h3>

                    <form method="POST">
                        {{ form.hidden_tag() }}

                        <div class="form-group">
                            {% if form.filter_text.errors %}
                            {{ form.filter_text(class="form-control is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.filter_text.errors %}
                                <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                            {% else %}
                            {{ form.filter_text(class="form-control form-control-lg") }}
                            {% endif %}
                        </div>

                        <div class="form-group">
                            {{ form.submit(class="btn btn-primary btn-lg btn-block") }}
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}