<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="apple-touch-icon" sizes="180x180" href="../static/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../static/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../static/favicon/favicon-16x16.png">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    {% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title>App</title>
    {% endif %}
</head>

<body class="main">
    <div class="content">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="{{ url_for('general.home') }}">Movie Rental App</a>
            <button class="navbar-toggler" type="button" 
            data-toggle="collapse" data-target="#navbarNavAltMarkup">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                {% if session.get("logged_user") %}
                <div class="navbar-nav">
                    <a class="nav-item nav-link" href="{{ url_for('general.home') }}">Home</a>
                    <a class="nav-item nav-link" href="{{ url_for('users.logout') }}">Logout</a>
                    <a class="nav-item nav-link" href="{{ url_for('rental.delete_movie') }}">Delete Movie</a>
                    <a class="nav-item nav-link" href="{{ url_for('rental.add_movie') }}">Add Movie</a>
                    <a class="nav-item nav-link" href="{{ url_for('rental.filter_movies') }}">Find Movies</a>
                    <a class="nav-item nav-link" href="{{ url_for('rental.rent_movie_list') }}">Rent</a>
                    <a class="nav-item nav-link" href="{{ url_for('rental.user_rentals') }}">My Rentals</a>
                </div>
                {% else %}
                <div class="navbar-nav">
                    <a class="nav-item nav-link" href="{{ url_for('general.home') }}">Home</a>
                    <a class="nav-item nav-link" href="{{ url_for('users.login') }}">Login</a>
                    <a class="nav-item nav-link" href="{{ url_for('users.signup') }}">Signup</a>
                    <a class="nav-item nav-link" href="{{ url_for('rental.filter_movies') }}">Find Movies</a>
                </div>
            </div>
            {% endif %}
        </nav>

        <main class="main-content">
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            {% for category, message in messages %}
            <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% endfor %}
            {% endif %}
            {% endwith %}

            {% block content %} {% endblock %}
        </main>
    </div>
    <footer class="footer pt-4 pb-1 bg-dark text-white">
        <div class="container text-center">
            <p>&copy; Movie Rental App</p>
        </div>
    </footer>
</body>